<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Mon appareil
      </h2>
      <p>Mis a jour:{{lastUpdate | async | date: 'short' | uppercase}} </p>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareil;let i = index"
                      [indexOfAppareil]="i"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"></app-appareil>

      </ul>
      <button class="btn btn-success"
              (click)="onAllumer()">Tout allumer</button>&nbsp;
      <button class="btn btn-danger"
              (click)="onEteindre()">Tout eteindre</button>
    </div>
  </div>
</div>
