<div class="col-xs-12">
  <h2>
    Mon appareil
  </h2>
  <p>Mis a jour:{{lastUpdate | async | date: 'short' | uppercase}} </p>
  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareil;let i = index"
                  [indexOfAppareil]="i"
                  [appareilName]="appareil.name"
                  [appareilStatus]="appareil.status"
                  [id]="appareil.id"></app-appareil>

  </ul>
  <button class="btn btn-success"
          (click)="onAllumer()">Tout allumer</button>&nbsp;
  <button class="btn btn-warning"
          (click)="onPanne()">Tout en panne</button>&nbsp;
  <button class="btn btn-danger"
          (click)="onEteindre()">Tout eteindre</button>
  <button class="btn btn-default"
          (click)="onSave()">Enregistrer</button>
  <button class="btn btn-link"
          (click)="onFetch()">Charger les appareils</button>
</div>
